
html, body {
  margin: 0;
  padding: 0;
}

html {
  background: #0d080a url(taustakuva.jpg) 0 0 no-repeat;
  background-size: cover;
}

body {
  background-color: rgba(10, 9, 7, 0.3);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #fff;
  color: rgba(#fff, .9);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  text-align: center;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0 0 1.4em;
}
a {
  color: #03A9F4;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: #fff;
  }
}

header, article, footer, aside {
  display: flex;
  padding: 40px 40px 20px;
  background-color: rgba(10, 9, 7, 0.7);
}

header {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    width: 400px;
    max-width: 90%;
    height: auto;
  }
  .esittely {
    width: 700px;
    font-weight: 300;
    font-size: 20px;
    max-width: 90%;
    margin: 0 auto;
  }
}

main {
  display: flex;
  background: transparent;

  @media(max-width: 900px) {
    flex-direction: column;
  }
}

aside {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgba(10, 9, 7, 0.7);
    padding: 5px 5px 0;
  }
  p {
    background-color: rgba(10, 9, 7, 0.7);
    padding: 10px 10px 20px;
    font-size: .9rem;
  }
}

article {
  flex: 1 1 auto;
  flex-direction: column;

  & > * {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: 300;

    @media(max-width: 900px) {
      font-size: 1.6rem;
    }
  }
  p {
    color: rgba(#fff, .9);
  }
  .yhteystiedot {
    margin-bottom: .2rem;
  }
  .linkedin {
    margin-bottom: 0;
  }
}

footer {
  // margin-left: 50%;
  .copyright, .production {
    flex: 1 1 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(#fff, .9);
    font-size: .8rem;
    a {
      color: rgba(#fff, .9);
    }
  }
}

@media only screen and (max-width: 460px) {
  footer {
    flex-direction: column;
  }
}